<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taboon & Garden Kitchens</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
<!-- Hero Section -->
<section id="hero" class="hero">
  <div class="container">
    <h1 class="animated-title">Experience the Art of Outdoor Cooking</h1>
    <p>Discover the perfect blend of Mediterranean cuisine and garden-to-table dining with our bespoke taboon ovens and garden kitchens.</p>
  </div>
</section>
<div class="slideshow-container">
  <div class="mySlide">
    <img src="https://d3m9l0v76dty0.cloudfront.net/system/photos/804493/extra_large/824dd41956e7f2241416052c1de8af82.jpg?1684929434" anima-src="https://d3m9l0v76dty0.cloudfront.net/system/photos/804493/extra_large/824dd41956e7f2241416052c1de8af82.jpg?1684929434" style="width:100%">
  </div>
</div>

<!-- About Section -->
<section id="about" class="hero">
  <div class="container">
    <h2>About Us</h2>
    <p>We're passionate about bringing people together through the joy of outdoor cooking. Our team of experts designs and crafts bespoke taboon ovens and garden kitchens that inspire culinary creativity and connection.</p>
  </div>
</section>
</body>
</html>
