.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#about p {
  font-size: 1.2rem;
  margin-right: 5rem;
}

.hero .container {
  margin-top: 5rem;
}

.slideshow-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.mySlide img {
  width: 100%;
  animation: fadeInOut 5s infinite;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

.animated-title {
  display: inline-block;
  opacity: 0;
  transform: translateY(-50px);
  animation: dropDown 6s forwards;
}

@keyframes dropDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 30px 0;
  }

  .hero h1 {
    font-size: 6vw; /* Adjust font size for smaller screens */
  }

  .slideshow-container {
    padding: 0 10px;
  }
}
