<nav class="navbar">
  <img class="logo"
       src="https://d3m9l0v76dty0.cloudfront.net/system/logos/686/original/a86b957031c6e27e76362b8c071b3e74.png"
       alt="About Us"/>
  <div class="container">

    <nav class="category-links">
      <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/signUp" routerLinkActive="active">Sign Up</a></li>
    </nav>

  </div>
</nav>


