/* הגדרות גלובליות לכותרות */
.header {
  position: fixed; /* מיקום קבוע בחלק העליון של המסך */
  width: 100%; /* רוחב מלא */
  background: #333; /* רקע כהה */
  color: white; /* צבע טקסט לבן */
  padding: 10px 0; /* פדינג סביב הכותרת */
  top: 0; /* צמוד לחלק העליון של המסך */
  left: 0; /* צמוד לצד השמאלי של המסך */
  z-index: 1000; /* מבטיח שהכותרת תהיה מעל כל האלמנטים האחרים */
}

/* התאמת טקסט ותמונות לגודל המסך */
.logo {
  width: auto; /* גודל התמונה משתנה עם גודל החלון */
  height: auto; /* שמירה על יחסי המימדים של התמונה */
}

.category-links a {
  font-size: 1.2vw; /* גודל הטקסט מתאים לרוחב החלון */
}

@media (max-width: 600px) {
  .logo {
    width: 10vw; /* גודל תמונה גדול יותר במסכים קטנים */
  }

  .category-links{
    width: auto;
    height: auto;
    font-size: small; /* גודל טקסט גדול יותר במסכים קטנים */
  }
}

.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  margin-right: 50%;
  animation: slide 20s infinite ease-in-out;

}
/* src/app/components/header/header.component.css */
@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
}


.category-links {
  list-style: none; /* Removes default list styles */
  padding: 0; /* Removes default padding */
  padding-top:1rem ;
  display: flex; /* Aligns items in a row */
  justify-content: center;
  align-items: center; /* Centers the links vertically */
  flex-grow: 1;/*centerrrrr*/


}

.category-links li {
  margin-right: 20px; /* Adds spacing between the links */

}
.category-links li a{
  font-size: 2rem;
}



.category-links li:last-child {
  margin-right: 0; /* Removes margin from the last link to avoid extra spacing */

}

.category-links  a {
  color: white; /* Ensures text color is white */
  text-decoration: none; /* Removes underline from links */
  font-size: 16px; /* Adjust font size as needed */
  display: inline-block;
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 100px) and (max-width: 900px){
  .category-links li a{
    font-size: 1rem;
  }
  .logo{
    margin-right: 50%;
    width: 50%;
    height: 50%;
  }

}
