<!-- src/app/views/log-in/log-in.component.html -->
<div class="login-container">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required class="form-control">
    </div>

    <button type="submit" class="btn btn-login" [disabled]="!loginForm.valid">Log In</button>
  </form>
  <form (ngSubmit)="onSingUp()" #signup="ngForm">
    <button type="submit" class="btn btn-signup" >Sign Up</button>
  </form>
</div>
