<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>

</head>
<body>



<section id="gallery" class="gallery">

  <div class="container">
    <h2>Our Work</h2>
    <div class="gallery-grid">
      <div class="gallery-item"  *ngFor="let product of products">
          <img src="{{product.title}}"
               alt= "{{ product.name }}"/>
          <p id="{{product.id}}">{{ product.name }} </p>
      </div>
       Add more gallery items here
    </div>
  </div>
</section>
</body>
</html>
