<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>

</head>
<body>



<section id="gallery" class="gallery">

  <div class="container">
    <h2>Our Work</h2>
    <div class="gallery-grid">
      <div class="gallery-item">

        <img
          src="https://d3m9l0v76dty0.cloudfront.net/system/photos/2007209/original/b70e4bec2ebe45df888626a1249e3050.jpg"
          alt="Gallery 1"/>
        <p id="desc1">Description for Gallery <span id="count1"></span></p>
      </div>
      <div class="gallery-item">
        <img
          src="https://d3m9l0v76dty0.cloudfront.net/system/extImages/QtgdaNRs2hambvMiyaRKLYaV7PQvca5FXhcYheBh/original/6XER3sbGJlgO3tCOZBpB3XaTOorgaDCi.webp"
          alt="Gallery 2"/>
        <p id="desc2">Description for Gallery <span id="count2"></span></p>
      </div>
      <div class="gallery-item">
        <img src="https://d3m9l0v76dty0.cloudfront.net/system/photos/5261955/large/2b80fd48da50ef03b7a3995a03cc0513.jpg"
             alt="Gallery 3"/>
        <p id="desc3">Description for Gallery <span id="count3"></span></p>
      </div>
<!--      <div class="gallery-item">-->
<!--      <ul>-->
<!--        <li *ngFor="let product of products">-->
<!--          {{ product.name }} - {{ product.price }}-->
<!--        </li>-->
<!--      </ul>-->
<!--      </div>-->
      <!-- Add more gallery items here -->
    </div>
  </div>
</section>
</body>
</html>
