<!--app/views/products/products.html-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>
<body>
<section id="gallery" class="gallery">
  <div class="container">
    <h2>Our Work</h2>
    <div class="gallery-grid">
      <div class="gallery-item" *ngFor="let product of products">
        <img src="{{product.title}}" alt="{{ product.name }}"/>
        <p class = "product-details">

          <span class="product-name">{{ product.name }}</span>

          <br>{{ product.description }} <br> {{ product.price }}$<br>
          <input type="checkbox" name="productIds" value="{{product.id}}" [(ngModel)]="product.selected" (change)="updateTotal()">

        </p>
      </div>
      <!-- Placeholder for additional gallery items -->
    </div>
  </div>
  <form class="purchase-button" (submit)="submitPurchase($event)" method="POST">
    <input type="text" placeholder="Customer ID" required [(ngModel)]="customerId" name="customerId" />
    <button type="submit">Purchase</button>
  </form>
    <div class="total-price">
      Total Price: {{ totalPrice }}$
    </div>
</section>
</body>
</html>
