html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.gallery {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
    width: 50%;
    margin-left: 12%;
    gap: 1rem;
  }
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
}

.gallery-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.gallery-item p {
  margin: 0;
  color: black;
}

.purchase-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.purchase-button input[type="text"], .purchase-button button {
  padding: 0.8rem;
  margin: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 1rem;
}

.purchase-button button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purchase-button button:hover {
  background-color: #0056b3;
}

.total-price {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: black;
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.message {
  font-size: 1.5em;
  margin-top: 1%;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  width: 48%;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #0056b3;
}

.btn a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: normal;
}

.btn a:hover {
  color: white;
}
