<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Web page CSS -->
    <link rel="stylesheet" href="../../styles.css" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png" />

    <title>Taboon & Garden Kitchens</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <img class = "logo" src=https://d3m9l0v76dty0.cloudfront.net/system/logos/686/original/a86b957031c6e27e76362b8c071b3e74.png alt="About Us" />
        <div class="container">

            <ul class="category-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="SingUp.html">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <section id="hero" class="hero">
        <div class="container">
            <h1>Experience the Art of Outdoor Cooking</h1>
            <p>Discover the perfect blend of Mediterranean cuisine and garden-to-table dining with our bespoke taboon ovens and garden kitchens.</p>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="hero">
        <div class="container">
            <h2>About Us</h2>
            <p>We're passionate about bringing people together through the joy of outdoor cooking. Our team of experts designs and crafts bespoke taboon ovens and garden kitchens that inspire culinary creativity and connection.</p>
        </div>
    </section>

    <!-- Gallery Section -->



    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Taboon & Garden Kitchens. All Rights Reserved.</p>
        </div>
    </footer>

    <!-- Scroll to Top Button -->
    <button class="scroll-to-top">Top</button>

    <!-- JavaScript -->
    <script src="../app.js"></script>
</body>
</html>
